<div class="container-fluid">
  <div class="header">
  <h1 align="center">
    Flash Marketplace
  </h1>
  <h4 align="center">
        &nbsp; &nbsp; - Buy,Sell in a Flash
  </h4>
  </div>
  <div class="topnav" *ngIf="!logged">
  <a routerLink="/login">Login</a>
  <a routerLink="/register">Register</a>
  <a routerLink="/home">Search</a>
    <a routerLink="/login">Post Ad</a>
  </div>

  <div class="topnav" *ngIf="logged">
    <a routerLink="/profile">Profile</a>
    <a routerLink="/post-ad">Post Ad</a>
    <a routerLink="/home">Search</a>
    <a routerLink="/my-ads">My Ads</a>
    <span style="float:right">
      <a (click)="logout()">Logout</a>
    </span>
    </div>

<app-search-list></app-search-list>
</div>
